
html, body {
  background: rgb(20,20,20);
  height: 100%;
  text-rendering: optimizeLegibility;
  cursor: cell;
}


nav {
  font-family: 'Exo', sans-serif;
  margin: 0 auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(20,20,20);
}

nav li {
  float: left;
}

nav li a {
    display: inline-block;
    color: whitesmoke;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
nav li a:hover {
  background-color: #555;
}






#wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#card {
  background: transparent;
  color: rgb(20,20,20);
  width: 3.5in;
  height: 2in;
  text-align: center;
  font-family: 'Open Sans';
}
.front{
  background-image: url('../static/paper.jpg');
}
.front h3{
  text-align: center;
}







.back {
  background-position: right;
  background-image: url('../static/paper.jpg');
}

.icon {
  /*text-align: center;*/
  /*vertical-align: middle;*/
  flex-grow: 1;
}

table {
  position: absolute;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  font-size: 10px;
}

td img {
  height: 40px;
}

td a {
  text-decoration: none;
  color: rgb(20,20,20);
}
