html, body {
  background: rgb(20,20,20);
  height: 100%;
  max-height: 100%;
  text-rendering: optimizeLegibility;
  cursor: cell;
}


#wrapper {
  overflow: hidden;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
	margin: 0 auto;
  height: 60px;
  width: 340px;
}
#shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  stroke: whitesmoke;
  /*#19f6e8;*/
  border-bottom: 5px solid black;
  transition: stroke-width 1.5s, stroke-dashoffset 1.5s, stroke-dasharray 1.5s;

  -webkit-animation:colorchange 2s infinite alternate;
}

@-webkit-keyframes colorchange {
  0%   {stroke: whitesmoke;}
  100% {stroke: rgb(20,20,20);}
}

#name {
  font-family: 'Roboto Condensed';
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 8px;
  color: whitesmoke;
  top: -48px;
  position: relative;
  /*cursor: pointer;*/
}
#wrapper:hover #shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
  /*cursor: pointer;*/
}
