.navbar {
	position: absolute !important;
}

.nav li a {
	color: white;
}

.nav li a:hover {
	color: black;
}

.jumbotron {
  background-image: url('NewYorkCityBlack.jpg');
  margin: 0 !important;
  height: 100vh;
	width: 100vw;
	background-size: cover;
}

#name {
	color: white;
	position: center;
	width:100%;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

#name h1 {
	font-weight: 700px;
}

hr {
	color: #42b078;
	height: 1px;
	width: 50%;
}

.sad hr{
  color: #65D46E;
  height: 1px;
  width: 50%;
}


.hoverLinkRow {
  background-color: #434242;
}

.noPadding {
	margin: 0 !important;
	padding: 0 !important;
}

.black .overlay h2 {
	color: black;
}

.section h1 {
  color: #65D46E;
  font-size: 45px;
}

#bio {
	background-color: #434242;
	position: center;
	color: white;
  font-size: 14px;
	padding-bottom: 70px;
}

#profpic {
	display: block;
	margin: 0 auto;
  margin-top: -10px;
	height: 250px;
	border-radius: 50%;
	border: 1px solid #65D46E;
}

#profile-details strong{
	color: #65D46E;
}

#projects {
	background-color: #434242;
	color: white;
  margin-top: -20px;
  padding-bottom: 50px;
}

#projects img {
  width: 80%;
  border-radius: 1%;
	/*border: 1px solid #42b078;*/
}

.project {
  margin: 20px;
}

.project-image {
  margin-bottom: 20px;
}

.project-description {
  /*margin-left: -40px;*/
  padding-bottom: 20px;
  border: 1px solid #65D46E;
  border-radius: 1%;
}

.project-description h2 {
  color: #fff;
}

.project-description a {
  color: #42b078;
}

.project-description a:hover {
  text-decoration: none;
  color: #65D46E;
}



#contact {
	background-color: #434242;
  padding-bottom: 50px;
}

table {
  color: #65D46E;
  margin: 0 auto;
}

td {
  valign: center;
}

.icon {
  padding-right: 20px !important;
}

.contact-link {
  padding-top: 10px !important;
}

td a {
  color: #42b078;
  text-decoration: none;
}


td a:hover {
  color: #65D46E;
  text-decoration: none;
}


footer {
	background-image: url('NewYorkCityBlack.jpg');
	height: 40px;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	text-align: center;
	padding: 10px;
}


/*
I like these colors:

#42b078 original
#ff00ff pink
#000000 black
#707070 grey
#32f8ff blue
#d400ff purp
#00ff00 green
#FDF43E maize
#65D46E spotifygreen


*/




.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #65D46E;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px;
  font-family: 'Raleway', sans-serif;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;
}

.hovereffect h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.hovereffect:hover h2:after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}