footer {
	height: 40px;
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	text-align: center;
	padding: 10px;
}

ul li a img {
	border-radius: 50%;
	height: 40px;
	width: 40px;
}

.albums {
	text-align: center;
}

.albums img {
	width: 100%;
}

/*.reviews a {
	color: #70747a;
	color: #0c88f4;
}*/
.reviews a:hover {
	text-decoration: none;
	/*color: #0560af;*/
}

.playlist {
	padding-right: 30px !important;
}