/*HANLDLE HEADER AND LOGOS*/

#container {
  min-height: 100vh;
}

header {
  background-color: #00274c;
  width: 100%;
  height: 100px;
}

#longlogo {
  display: inline-block;
  padding: 20px;
  width: 75%;
}

#longlogo img{
  height: 60px;
}

#caenlogo {
  display: inline-block;
  float: right;
  padding: 20px;
}

#caenlogo img{
  height: 60px;
}

#michlogo {
  text-align: center;
  height: 100%;
  padding: 10px;
  margin-bottom: -10px;
}

#michlogo img{
  height: 80px;
}

body {
  /*min-height: 100vh;*/
  min-height: 100%;
  margin: auto;
  justify-content: center;
  font-family: arial;
}

#wrapper {
  max-width: 1600px;
  margin: 0 auto;
}



#toggle {
  width: 30px;
  border: 1px solid black;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  cursor: hand;
  background-color: cornflowerblue;
}



button {
  margin-bottom: 20px;
  background-color: orange; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px
}





footer {
  background-color: #00274c;
  width: 100%;
  height: 30px;
  font-size: 10px;
  color: whitesmoke;
  text-align: center;
  position: relative;
  clear: both;
  margin-top: -30px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}



/*DESKTOP*/
@media only screen and (min-width: 1024px) {
    #michlogo {
      display: none;
    }

    .flexgrid {
      display: flex;
      margin: 40px 40px 0px 40px;
      max-width: 1600px !important;
    }

    article {
      flex: 3;
      padding-right: 20px;
    }

    .toggle-panel p{
      display: inline-block;
    }

    #toggled-info {
      display: none;
      margin-left: 40px;
    }

    aside {
      padding-left: 20px;
      flex: 1;
      margin: 20px;
    }

    .center-this {
      text-align: center;
    }
    aside img {
      max-width: 100%;
    }

    .ewe-info {
      background-color: lightgray;
    }
    .ewe-info h2{
      text-align: center;
      padding: 20px;
    }
    .ewe-info p{
      padding: 0px 20px 10px 20px;
      margin-top: -20px;
    }


}








/*MOBILE*/
@media only screen and (max-width: 1024px) {
  #longlogo {
    display: none;
  }
  #caenlogo {
    display: none;
  }

  .flexgrid {
    margin: 40px;
    max-width: 1600px !important;
  }

  .toggle-panel p{
    display: inline-block;
  }

  #toggled-info {
    display: none;
    margin-left: 40px;
  }

  aside {
    align-items: center;
    padding: 20px;
    display: flex;
    background-color: lightgray;
  }

  .center-this {
    text-align: center;
  }

  aside img {
    display: inline-block;
    vertical-align: middle;
    height: 25%;
    width: 25%;
    flex: 1;
  }

  .ewe-info {
    flex: 4;
    background-color: lightgray;
  }
  .ewe-info h2{
    text-align: center;
    padding-bottom: 10px;
  }
  .ewe-info p{
    padding: 0px 20px 10px 20px;
    margin-top: -20px;
  }

}
